* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

section {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.section-first {
    background: #333;
    color: white;
}

.section-second {
    background: #333;
    color: white;
}

.box {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.box.show {
    opacity: 1;
    transform: translateY(0);
}